body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #5B2286;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

li {
    list-style: none;
}

.bg-wrap {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    text-align: center;
    max-width: 600px;
    width: 100%;
    height: 100%;
    perspective: 500px;
}

/* header */
header {
    margin-bottom: 3rem;
}

header h1 {
    color: aliceblue;
    font-size: 5rem;
    transform: rotate(-5deg);
    margin-bottom: 5rem;
}

header q {
    color: #F5DF4D;
    font-size: 1.5rem;
    font-weight: bold;
}

main > section:first-child {
    font-size: 1.3rem;
    line-height: 0.8rem;
    margin-bottom: 6rem;
}

main > section:first-child strong {
    font-size: 2rem;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.form-wrap .job-wrap {
    display: flex;
    justify-content: center;
}
.form-wrap .hour-wrap {
display: flex;
justify-content: center;
}

.subBtn {
    font-size: 1.5rem;
}


@media screen and (max-width: 620px) {
    .bg-wrap {
        margin: 4rem 2rem;
    }
    header h1 {
        font-size: 3rem
    }
}