* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    background-color: #f2f2f2;
    width: 60%;
    height: 60%;
    border: 1px solid ;
}

/* footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    width: 100%;
    margin-top: auto;
}
.top {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-between;
    border-bottom: 0.7px solid #b4b4b4;
}
.sns_wrap {
    display: flex;
}
.sns_wrap > li {
    padding: 0 7px;
}
.sns_wrap > li:last-child {
    padding-right: 0;
}
.bottom {
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 2rem 0;
}

.bottom > dl {
    display: flex;
}

dt {
    padding-left: 5px;
}

dd {
    padding: 0 5px;
    border-right: 0.5px solid black;
}
dd:last-child {
    border: none;
}

.bold, dd {
    font-weight: bold;
}
